<template name="mainLayout">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        {{#linkTo route='root' class='navbar-brand'}}
          {{ dict 'site.title' 'Blog title' }}
        {{/linkTo}}
      </div>
      <ul class="nav navbar-nav navbar-right">
        {{#each pages}}
          <li><a href="{{path}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{> yield}}
      </div>
    </div>
  </div>
</template>
